/**
  |============================
  | ROOT
  |============================
*/
:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-Text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #662e2f42;
  --hero-background-color: #b32e2f42;
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;
}
/**
  |============================
  | RESET
  |============================
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  font-family: inherit;
  cursor: pointer;
}
img {
  display: block;
}
/**
  |============================
  | COMMON
  |============================
*/
body {
  background-color: var(--white-background-color);
  font-family: Roboto, sans-serif;
  color: var(--text-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.list {
  display: flex;
  gap: 24px;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/**
  |============================
  | HEADER
  |============================
*/
.header-link-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-brand-color);
  margin-right: 76px;
}
.logo-dark-color {
  color: var(--dark-color);
}
.header-list {
  display: flex;
  gap: 40px;
}
.nav-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  padding: 24px 0;
}
.nav-menu-item:hover,
.nav-menu-item:focus,
.nav-menu-item:active {
  color: var(--pressed-state-color);
}
.address {
  font-style: normal;
}
.address-list-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.address-list-item:hover,
.address-list-item:focus,
.address-list-item:active {
  color: var(--pressed-state-color);
}
.header {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
}
.header-content {
  display: flex;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}
/**
  |============================
  | MAIN
  |============================
*/
.hero-section {
  background-color: var(--dark-color);
  padding: 188px 0;
}
.features-section {
  padding: 120px 0;
}
.what-are-we-doing-section {
  padding-bottom: 120px;
}
.our-team-section {
  background-color: var(--light-color);
  padding: 120px 0;
}
.hero-button {
  background-color: var(--primary-brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
  text-align: center;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}
.features-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.what-are-we-doing-list-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}
.page-title {
  color: var(--white-background-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  text-align: center;
  margin-bottom: 72px;
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}
.page-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.team-card-title {
  text-align: center;
}
.team-card {
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-background-color);
}
.team-card-text {
  text-align: center;
}
.team-member {
  padding: 32px 16px;
}
/**
  |============================
  | FOOTER
  |============================
*/
.logo-light-color {
  color: var(--light-color);
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  max-width: 264px;
}
.footer {
  background-color: var(--dark-color);
  padding: 100px 0;
}
.footer-link-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-brand-color);
  display: inline-block;
  margin-bottom: 16px;
}
/**
  |============================
  | PORTFOLIO
  |============================
*/
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.buttons-list {
  justify-content: center;
  margin-bottom: 72px;
}
.filters-button {
  background-color: var(--light-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  text-align: center;
  border: 1px solid var(--accent-color);
  padding: 12px 24px;
  border-radius: 4px;
}
.filters-button:hover,
.filters-button:focus,
.filters-button:active {
  color: var(--white-background-color);
  background-color: var(--pressed-state-color);
  border: 1px solid transparent;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.product-list-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}
.product-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
